<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reservaseat">

        <!-- Login Activity sebagai halaman pertama saat aplikasi dibuka -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PilihCabangActivity" />

        <!-- Alur Cabang Botas -->
        <activity android:name=".PilihTanggalActivity" />
        <activity android:name=".PilihKursiActivity" />
        <activity android:name=".IsiDataActivity" />
        <activity android:name=".PembayaranActivity" />

        <!-- Alur Cabang Jambu Dua -->
        <activity android:name=".PilihTanggalActivity2" />
        <activity android:name=".PilihKursiActivity2" />
        <activity android:name=".IsiDataActivity2" />
        <activity android:name=".PembayaranActivity2" />

    </application>

</manifest>
